<!-- Spicy Biltong Nutrition Facts--> 
      <div class="small-12 medium-6 cell">

        <div class="nutrition-facts" itemscope itemtype="http://schema.org/NutritionInformation">
          <div class="nutrition-facts__header">
            <h3 class="nutrition-facts__title text-center">Nutrition Facts</h3>
            <p itemprop="servingSize">Servings Per Container 5 (1/5 Link)</p>
            
          </div>
          <table class="nutrition-facts__table">
            <thead>
              <tr>
                <th colspan="3" class="small-info">
                  Amount Per Serving
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th colspan="2">
                  <span itemprop="calories">Calories
                  260</span>
                </th>
              </tr>
              <tr class="thick-row">
                <td colspan="3" class="small-info text-right">
                  % Daily Value*
                </td>
              </tr>
              <tr>
                <th colspan="2">
                  <span itemprop="fatContent">Total Fat
                  22g</span>
                </th>
                <td class="text-right">
                  34%
                </td>
              </tr>
              <tr>
                <td class="blank-cell text-right">
                </td>
                <td>
                  <span itemprop="saturatedFatContent">Saturated Fat
                  8g</span>
                </td>
                <td class="text-right">
                  40%
                </td>
              </tr>
              <tr>
                <td class="blank-cell text-right">
                </td>
                <td>
                  <span itemprop="transFatContent">Trans Fat
                  1g</span>
                </td>
                <td class="text-right">
                </td>
              </tr>
              <tr>
                <th colspan="2">
                  <span itemprop="cholesterolContent">Cholesterol
                  65mg</span>
                </th>
                <td class="text-right">
                  22%
                </td>
              </tr>
              <tr>
                <th colspan="2">
                  <span itemprop="sodiumContent">Sodium
                  400mg</span>
                </th>
                <td class="text-right">
                  17%
                </td>
              </tr>
              <tr>
                <th colspan="2">
                  <span itemprop="carbohydrateContent">Total Carbohydrate
                  1g</span>
                </th>
                <td class="text-right">
                  0%
                </td>
              </tr>
              <tr>
                <td class="blank-cell">
                </td>
                <td>
                  <span itemprop="fiberContent">Dietary Fiber
                  1g</span>
                </td>
                <td class="text-right">
                  0%
                </td>
              </tr>
              <tr>
                <td class="blank-cell">
                </td>
                <td>
                  <span itemprop="sugarContent">Sugars
                  0g</span>
                </td>
                <td>
                </td>
              </tr>
              <tr>
                <th colspan="2">
                  <span itemprop="proteinContent">Protein
                  13g</span>
                </th>
                <td>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>