<!-- Spicy Biltong Nutrition Facts--> 
      <div class="small-12 medium-6 cell">

        <div class="nutrition-facts">
          <div class="nutrition-facts__header">
            <h2 class="nutrition-facts__title text-center">Nutrition Facts</h2>
            <p>Servings Per Container 4</p>
           
                <p>Serving Size 4</p>
            
          </div>
          <table class="nutrition-facts__table">
            <thead>
              <tr>
                <th colspan="3" class="small-info">
                  Amount Per Serving
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th colspan="2">
                  Calories
                  80
                </th>
                <td class="text-right">
                  Calories from Fat
                  25
                </td>
              </tr>
              <tr class="thick-row">
                <td colspan="3" class="small-info text-right">
                  % Daily Value*
                </td>
              </tr>
              <tr>
                <th colspan="2">
                  Total Fat
                  2.5g
                </th>
                <td class="text-right">
                  4%
                </td>
              </tr>
              <tr>
                <td class="blank-cell text-right">
                </td>
                <td>
                  Saturated Fat
                  1.5g
                </td>
                <td class="text-right">
                  8%
                </td>
              </tr>
              <tr>
                <td class="blank-cell text-right">
                </td>
                <td>
                  Trans Fat
                  0g
                </td>
                <td class="text-right">
                </td>
              </tr>
              <tr>
                <th colspan="2">
                  Cholesterol
                  15mg
                </th>
                <td class="text-right">
                  5%
                </td>
              </tr>
              <tr>
                <th colspan="2">
                  Sodium
                  570mg
                </th>
                <td class="text-right">
                  24%
                </td>
              </tr>
              <tr>
                <th colspan="2">
                  Total Carbohydrate
                  1g
                </th>
                <td class="text-right">
                  0%
                </td>
              </tr>
              <tr>
                <td class="blank-cell">
                </td>
                <td>
                  Dietary Fiber
                  1g
                </td>
                <td class="text-right">
                  0%
                </td>
              </tr>
              <tr>
                <td class="blank-cell">
                </td>
                <td>
                  Sugars
                  0g
                </td>
                <td>
                </td>
              </tr>
              <tr class="thick-end">
                <th colspan="2">
                  Protein
                  13g
                </th>
                <td>
                </td>
              </tr>
            </tbody>
          </table>
          
          <table class="nutrition-facts__table--grid">
            <tbody>
              <tr>
                <td class="blank-cell">
                </td>
                <td>
                  Vitamin D
                </td>
                <td class="text-right">
                  0%
                </td>
              </tr>
              <tr class="thin-end">
                <td class="blank-cell">
                </td>
                <td>
                  Calcium
                </td>
                <td class="text-right">
                  0%
                </td>
              </tr>
              <tr class="thin-end">
                <td class="blank-cell">
                </td>
                <td>
                  Iron
                </td>
                <td class="text-right">
                  8%
                </td>
              </tr>
              <tr class="thin-end">
                <td class="blank-cell">
                </td>
                <td>
                  Vitamin C
                </td>
                <td class="text-right">
                  0%
                </td>
              </tr>
            </tbody>
          </table>
          
          <p class="small-info">*The % Daily Value (DV) tells you how much a nutrient in a serving of food contributes to a daily diet. 2,000 calories a day is used for a general nutrition advice.</p>
          
          <p class="small-info">
            Calories per gram:
          </p>
          <p class="small-info text-center">
            Fat 9
            &bull;
            Carbohydrate 4
            &bull;
            Protein 4
          </p>
        </div>
      </div>