<section itemprop="mainEntity" itemscope itemtype="http://schema.org/QAPage">

<div class="grid-container faq">
  <div class="grid-x text-center faq-hero">
    <div class="cell small-12">
      {% if section.settings.faqh1!= blank %}
          <h1 itemprop="name">{{ section.settings.faqh1| escape }}</h1>
        {% endif %}
    </div>
    <div class="cell small-12">
      {% if section.settings.faqh1!= blank %}
          <p>{{ section.settings.faqp| escape }}</p>
          <p><a href="../pages/contact-ayoba-yo">Contact us</a> directly.</p>
        {% endif %}
    </div>
  </div>
</div>

<div class="grid-container faq-content">
  <div class="grid-x align-center">
    <div class="cell small-12 medium-8">
      <ul class="accordion" data-accordion data-allow-all-closed="true">
      {% for block in section.blocks %}
      {% if block.type == 'faq' %}
        <li class="accordion-item" data-accordion-item>
        
          <!-- Accordion tab title -->
          <span itemprop="mainEntity" itemscope itemtype="http://schema.org/Question">
            <a itemprop="name" href="#" class="accordion-title"><p>{{ block.settings.question }}</p></a>
          
          

          <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
          <div itemprop="suggestedAnswer acceptedAnswer" itemscope itemtype="http://schema.org/Answer" class="accordion-content" data-tab-content>
            <p itemprop="text">{{ block.settings.answer }}</p>
          </div>
          </span>
        
        </li>
        {% endif %}
      {% endfor %}
        <!-- ... -->
      </ul>
    </div>
  </div>
</div>
<div class="grid-container faq-btn">
  <div class="grid-x align-center">
    <a class="button btn-pad primary href="../collections/all">Order Now</a>
  </div>
</div>

  

</section>


{% schema %}
  {
    "name": "FAQ",
    "settings": [
      {
        "type": "text",
        "id": "faqh1",
        "label": "faqh1",
        "default": "H1"
      },
      {
        "type": "textarea",
        "id": "faqp",
        "label": "faqp",
        "default": "description"
      }
    ],
    "blocks": [
    {
      "type": "faq",
      "name": "FAQ",
      "settings": [
         {
            "type": "text",
            "id": "question",
            "label": "question"
          },
          {
            "type": "text",
            "id": "answer",
            "label": "answer"
          }
      ]
    }
  ]

  }
{% endschema %}