<!-- mobile nav bar -->
<div class="title-bar topbar-center-logo-mobile" data-responsive-toggle="topbar-center-logo" data-hide-for="medium">
  <div class="title-bar-left">
    <button class="menu-icon" type="button" data-toggle="topbar-center-logo"></button>
  </div>
  <div class="top-bar-center">
    <div class="title-bar-title"><img src="http://placehold.it/100x39" alt="" /></div>
  </div>
  <div class="title-bar-right">
    <span class="title-bar-text">Actions</span>
    <span class="title-bar-text"><a href="#"><i class="fa fa-home title-bar-logo"></i></a></span>
  </div>
</div>
<!-- /mobile nav bar -->

<!-- medium and larger nav bar -->
<div class="top-bar topbar-center-logo" id="topbar-center-logo">
  <div class="top-bar-left show-for-medium">
    <a href="#"><img src="http://placehold.it/100x39" alt="" /></a> 
  </div>
  <div class="top-bar-center">
    <ul class="dropdown menu vertical medium-horizontal" data-responsive-menu="accordion medium-dropdown">
      <li class="has-submenu">
        <a href="#">One</a>
          <ul class="submenu menu vertical nested" data-submenu>
            <li><a href="#">Item 1A</a></li>
            <li><a href="#">Item 2B</a></li>
          </ul>
      </li>
      <li><a href="#">Two</a></li>
      <li><a href="#">Three</a></li>
      <li><a href="#">Four</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu vertical medium-horizontal">
      <li><a href="#">Five</a></li>
      <li><a href="#">Six</a></li>
      <li><a href="#">Seven</a></li>
    </ul>
  </div>
</div>
<!-- /medium and larger nav bar -->

